* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Tahoma", sans-serif;
}

.container {
  width: 1140px;
  margin: auto;
  padding-top: 101px;
  padding-bottom: 100px;
}

.section-title {
  text-align: center;
  color: #6c1c02;
  font-size: 30px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 45px;
}

.section-subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 54px;
}

.section-subtitle span {
  font-weight: bold;
}

.section-content {
  display: block;
  margin: auto;
  margin-bottom: 48px;
  padding-left: 120px;
}

.section-block {
  display: inline-block;
  max-width: 271px;
  min-height: 502px;
  margin-right: 49px;
  margin-bottom: 50px;
  padding-top: 49px;
  padding-bottom: 36px;
  -webkit-box-shadow: 0 9px 21px rgba(0, 0, 0, 0.05);
          box-shadow: 0 9px 21px rgba(0, 0, 0, 0.05);
}

.section-block__image {
  display: inline-block;
  text-align: center;
  max-width: 150px;
  margin-right: 58px;
  margin-left: 58px;
  max-height: 323px;
  margin-bottom: 29px;
}

.section-block__name {
  text-align: center;
  color: #393939;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
}

.section-block__name-span {
  text-align: center;
  color: #393939;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.section-block__name-span span {
  color: #7f7f7f;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.section-block__price {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.section-button {
  display: block;
  height: 75px;
  width: 523px;
  margin: auto;
  border: 0;
  -webkit-box-shadow: 0 9px 21px rgba(0, 0, 0, 0.15);
          box-shadow: 0 9px 21px rgba(0, 0, 0, 0.15);
  background-color: #e70000;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 44px;
}

@media (max-width: 992px) {
  .container {
    width: 992px;
  }
  .section-content {
    padding-left: 194px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 768px;
  }
  .section-content {
    padding-left: 250px;
  }
}
